.experiences_container {
    max-width: 768px;
}

.experiences_tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}

.experiences_button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}

.experiences_button:hover {
    color: var(--title-color-dark);
}

.experiences_icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.experiences_active {
    color: var(--title-color-dark);
}

.experiences_sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.experiences_content {
    display: none;
}

.experiences_content-active {
    display: block;
}

.experiences_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.experiences_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
}

.experiences_subtitle {
    display: inline-block;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.experiences_calendar {
    font-size: var(--normal-font-size);
    display: flex;
    gap: 0.25rem;
}

.experiences_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--title-color);
    border-radius: 50%;
}

.experiences_line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--title-color);
    transform: translate(6px, -7px);
}


@media screen and (max-width: 992px) {
    .experiences_container {
        margin-left: auto;
        margin-right: auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .experiences_container {
        padding-left: var(--mb-1-5);
        padding-right: var(--mb-1-5);
    }
  }
  
  @media screen and (max-width: 576px) {
    .experiences_sections {
        grid-template-columns: initial;
    }

    .experiences_button {
        margin: 0 var(--mb-0-75);
    }
  }
  
  @media screen and (max-width: 350px) {
    .experiences_data {
        gap: 0.5rem;
    }
  }