html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
}

body{
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    nav {
        display: none!important;
    }
    main {
        display: none!important;
    }
    footer {
        display: none!important;
    }
    .comingSoon {
        display: flex!important;
    }
}

.comingSoon{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
    font-size: 1rem;
}

.comingSoon > h1 {
    background-color: #95E7A2;
    width: fit-content;
    padding: 1.5rem;
    border-radius: 1rem;
}

nav{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
    /*fixed navbar*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background-color: rgb(48, 47, 47);
    display: flex;
    justify-content: space-around;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}

a{
    text-decoration: none;
    color: #000;
}

#logo{
    width: 7em;
    height: 3.5em;
    margin-top: 1vh;
}

#logo:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes shake {
    0% { transform: translate(0, 0); }
    50% { transform: translate(0, -5px); }
    100% { transform: translate(0, 0); }
}


#language1{
    width: 2.5rem;
    height: auto;
}

#language2{
    width: 2.5rem;
    height: auto;
}

.border-bottom{
    border: 0.15em rgb(148, 255, 148) solid;
    border-radius: 2em;
}


.languageContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.languageContainer > li {
    list-style: none;
}


#language-logo1{
    /* margin-top: 5vh;
    margin-left: 86vw;
    position: absolute; */
    cursor: pointer;
}

#language-logo2{
    /* margin-top: 5vh;
    margin-left: 91vw;
    position: absolute; */
    cursor: pointer;
}


#bg{
    z-index: -1;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: #C6FFCF;
    font-size: 12em;
}

#bg > * {
    overflow-x: visible;
}

#bg-row1 {
    display: inline-flex;
    white-space: nowrap;
    margin-bottom: -20vh;
    margin-top: 20vh;
}

#bg-row2 {
    display: inline-flex;
    white-space: nowrap;
    margin-bottom: -20vh;
    margin-top: 0vh;
}

#bg-row3 {
    display: inline-flex;
    white-space: nowrap;
    margin-bottom: -20vh;
    margin-top: 0vh;
}

#blabla{
    margin-top: 100vh;
    position: absolute;
}

.test{
    box-shadow: inset 0 0 0 0 #C6FFCF;
    text-decoration: none;
    border-radius: 0.25em;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
    padding-top: .3rem;
    font-weight: 700;
    color: white;
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out, text-shadow .3s ease-in-out;
    
}

  .test:hover {
    box-shadow: inset 10em 0 0 0 #C6FFCF;
    border-radius: 0.25em;
    color: white;
    text-shadow: 2px 2px 1px #000;
  }


#name1{
    font-family: 'League Spartan', sans-serif;
    font-size: 4em;
    margin-left: 10vw;
    margin: 0;
    padding-top: 10vh;
    text-align: center;
}

#name2{
    font-family: 'League Spartan', sans-serif;
    font-size: 6em;
    margin-left: 10vw;
    background: linear-gradient(179.18deg, #3EE258 -32.61%, #95E7A2 31.97%, #B5FFC1 99.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
    text-align: center;
    padding-top: 5vh;
    font-weight: 700;
}


#name3{
    font-family: 'League Spartan', sans-serif;
    font-size: 4em;
    margin-left: 10vw;
    margin: 0;
    padding-top: 5vh;
    text-align: center;
}

#name4{
    font-family: 'League Spartan', sans-serif;
    font-size: 6em;
    margin-left: 10vw;
    background: linear-gradient(179.18deg, #3EE258 -32.61%, #95E7A2 31.97%, #B5FFC1 99.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
    text-align: center;
    padding-top: 5vh;
    font-weight: 700;
}

#name-section p{
    color: white;
}

#truc-vert{
    width: 100vw;
    background-color: rgb(48, 47, 47);
    margin-top: 25vh;
    padding-bottom: 2rem;
}

#truc-vert-de-gauche > img {
    height: 25em;
    width: 23em;
    border-radius: 40%;
}

#work > h1{
    text-align: center;
    margin: 0;
    padding-top: 20vh;
    font-family: 'League Spartan', sans-serif;
    font-size: 4em;
    padding-bottom: 10vh;
    color: white;
}

#myworks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    gap: 6rem;
}

#myworks div{
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;
    background-position: top;
    border-radius: 5%;
    box-shadow: 2px 2px 20px gray;
    display: block;
    width: 26vw;
    height: 51vh;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#stuffy_thumbnail{
    background-image: url(../Ressources/portfolio/Page_d_accueil.png); 
}

#exemple_page_d_accueil_web_thumbnail{
    background-image: url(../Ressources/portfolio/page_d_accueil_test.png);
}

#accueil_boulangerie_thumbnail{
    background-image: url(../Ressources/portfolio/boulangerie_accueil.png);
}

@keyframes yahoo{
    0%{
        background: #e8f839;
    }
    50%{
        background: #63f27b;
    }
    100%{
        background: #92dae4;
    }
}

.button{
    margin-top: 5vh;
    width: 25vw;
    height: 10vh;
    font-size: 1.5em;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    border: none;
    border-radius: 0.5em;
    color: rgb(34, 34, 34);
    background-color: #95E7A2;
    /* box-shadow: 2.5px 2.5px 1px 0 #d3d3d3; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.buttonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.important {
    background-color: red;
    color: whitesmoke;
    transition: 0.25s;
}

.button.no-margin {
    margin: 0;
}

.button.bigger,.button.seemore {
    transition: 0.25s;
}

.downloadButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.closeButton {
    font-size: 3rem;
    cursor: pointer;
    transition: 0.25s;
    height: fit-content;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.button.download:hover {
    background-color: rgb(139, 0, 0);
}

.button.bigger:hover,.button.seemore:hover {
    background-color: #609468;
}



.button.spaced {
    margin-top: 10vh;
}

#info{
    display: flex;
    justify-content: center;
}

#info > p {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    padding-top: 4vh;
    font-size: 1.25em;
    color:white;
}

#mail{
    padding-right: 5vw;
}

#mentions{
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.25em;
    color:white;
    margin: 0;
}

#mentions > a {
    color: white;
}

#info > img{
    height: 4vh;
    width: 4vh;
    padding-top: 3vh;
    padding-right: 1vw;
}

#a_propos{
    display: flex;
    margin-top: 25vh;
    justify-content: center ;
}

#photo_de_moi{
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center ;
}

#photo_de_moi > img{
    width: 20vw;
    height: auto;
    border-radius: 50%;
    background-color: antiquewhite;
}

#texte_sur_moi{
    width: 70vw;
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 1rem;
    padding: 3rem;
}

#texte_sur_moi > p{
    font-family: 'League Spartan', sans-serif;
    font-size: 1.4em;
    padding-left: 2vw;
    padding-right: 2vw;
    color:rgb(44, 44, 44);
}

#texte_sur_moi > h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 2.5em;
    color:rgb(44, 44, 44);
    margin-top: 0;
}

#myworks:hover div{
    transform: scale(1.);
    opacity: .25;
    filter: blur(5px);
}

#myworks div:hover{
    transform: scale(1.1);
    opacity: 1;
    filter: blur(0);
}



#all_mywork{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    gap: 6rem;
    margin-top: 25vh;
}

#all_mywork div{
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: top;
    border-radius: 5%;
    box-shadow: 1px 1px 10px gray;
    display: block;
    width: 26vw;
    height: 51vh;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#all_mywork:hover div{
    transform: scale(1);
    opacity: .25;
    filter: blur(5px);
}

#all_mywork div:hover{
    transform: scale(1.1);
    opacity: 1;
    filter: blur(0);
}

#dasitra_thumbnail{
    background-image: url(../Ressources/portfolio/dasitra.png);
}

#affiche_date_thumbnail{
    background-image: url(../Ressources/portfolio/affiche_date.png);
}

#demon_slayer_thumbnail{
    background-image: url(../Ressources/portfolio/demon_slayer.png);
}

#test7{
    background-image: url(../Ressources/portfolio/fate.png);
}

#lauratraduction_thumbnail{
    background-image: url(../Ressources/portfolio/lauratraduction_thumbnail.png);
}

#site_boulangerie_thumbnail{
    background-image: url(../Ressources/portfolio/boulangeriev2_accueil.png);
}

#webdoc_thumbnail{
    background-image: url(../Ressources/portfolio/webdoc_thumbnail.png);
}

#toss_history_thumbnail{
    background-image: url(../Ressources/portfolio/logoblanc2.png);
}

#tetris_thumbnail{
    background-image: url(../Ressources/portfolio/Page_de_chargement_tetris.png);
    background-position: center!important;
}

#cookie_clicker_thumbnail{
    background-image: url(../Ressources/portfolio/clicker_accueil.png);
}

#mon_cv{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 20vh;
}

#mon_cv > img{
    width: 25vw;
    height: auto;
    cursor: pointer;
}

.biggerCVContainer {
    display: none;
    justify-content: center;
    margin-top: 20vh;
}

.hidden{
    display: none;
}

.CVAndCrossContainer {
    display: flex;
    justify-content: center;
}

.CVAndCrossContainer > img {
    width: 60vw;
    height: auto;
}

#work_img{
    width: 30vw;
    height: 60vh;
    margin: 0;
    border-radius: 5%;
}

#work_img img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
    object-position: top;
}

#work_img .thumbnailCenter {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
    object-position: center;
}


#work_text{
    width: 50vw;
    height: 60vh;
    margin-right: -7.5vw;
    margin-top: -4vh;
}

#work_text h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 4em;
    padding-left: 5vw;
    color: white;
    margin-bottom: 0;
}

#work_presentation{
   width: 100vw;
    display: flex;
    justify-content: center;
    height: 65vh;
    margin-top: 25vh;
}

#work_text > p{
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5em;
    color:white;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0;
}

.fort{
    font-weight: 100;
}

#gallerie_photo{
    text-align: center;
}

#gallerie_photo h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 4em;
    color: white;
}

#photos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -15vh;
}

#photos img{
    width: 40%;
    height: 40%;
    margin-top: 20vh;
}

.websiteLink {
    color: white;
    text-decoration: underline;
}
